Cfg_Data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BDD_Cfg_DATA" type="BDD_Cfg_DATAType">
    <xs:annotation>
      <xs:documentation>- Proposition descriptif reseau STROMBOLI pour Mesures Système - objectif du fichier : decrire des trames IP utiles   2019/06/19 : mise à jour pour traiter les differents flux entre 2 IP identiques (ajout Port + difference traitement modbus pour ordre et commandes)  2019/07/01 : mise à jour pour transposer des paramètres en attribut pour améliorer la lisibilité</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MOTType">
    <xs:sequence>
      <xs:element type="xs:string" name="REF" minOccurs="0"/>
      <xs:element type="xs:unsignedByte" name="RANG" minOccurs="0"/>
      <xs:element name="TYPE" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UINT16"/>
            <xs:enumeration value="INT16"/>
            <xs:enumeration value="FLOAT"/>
            <xs:enumeration value="CHAR"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="INFO"/>
      <xs:element name="CRIT_EVAL" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="OUI"/>
            <xs:enumeration value="NON"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="WORD_SETType" name="WORD_SET" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="REF" use="optional"/>
    <xs:attribute type="xs:string" name="RANG" use="optional"/>
    <xs:attribute name="TYPE" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="BIT"/>
          <xs:enumeration value="BYTE"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute type="xs:string" name="Coding" use="optional"/>
  
</xs:complexType>
  <xs:complexType name="DATASETType">
    <xs:sequence>
      <xs:element type="MOTType" name="MOT" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CFG_DATAType">
    <xs:sequence>
      <xs:element type="xs:string" name="NOM"/>
      <xs:element type="DATASETType" name="DATASET"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="IDENTIFIANT" use="optional"/>
    <xs:attribute type="xs:string" name="PREFIX" use="optional"/>
  </xs:complexType>
  <xs:complexType name="DATA_INFOType">
    <xs:sequence>
      <xs:element type="xs:string" name="INFO"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="REF" use="optional"/>
    <xs:attribute type="xs:unsignedByte" name="RANG" use="optional"/>
    <xs:attribute type="xs:string" name="TYPE" use="optional"/>
  </xs:complexType>
  <xs:complexType name="WORD_SETType">
    <xs:sequence>
      <xs:element type="DATA_INFOType" name="DATA_INFO" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BDD_Cfg_DATAType">
    <xs:sequence>
      <xs:element type="CFG_DATAType" name="CFG_DATA" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>