Cfg_IP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BDD_Cfg_Reseau" type="BDD_Cfg_ReseauType">
    <xs:annotation>
      <xs:documentation>- Proposition descriptif reseau STROMBOLI pour Mesures Système - objectif du fichier : decrire les caracteristiques des trames IP</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="IPv4AddressType">
    <xs:annotation>
      <xs:documentation>IPv4 address in dot-decimal notation. Equivalent to [0-255].[0-255].[0-255].[0-255]</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])\.){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])" />
    </xs:restriction>
  </xs:simpleType>  
  <xs:complexType name="PLAGEType">
    <xs:sequence>
      <xs:element type="IPv4AddressType" name="IP_BASE"/>
      <xs:element type="IPv4AddressType" name="IP_MIN"/>
      <xs:element type="IPv4AddressType" name="IP_MAX"/>
      <xs:element type="IPv4AddressType" name="IP_MASQUE"/>
      <xs:element type="IPv4AddressType" name="IP_BROADCAST"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="IDENTIFIANT" use="optional"/>
  </xs:complexType>
  <xs:complexType name="EQUIPType">
    <xs:sequence>
      <xs:element type="xs:string" name="NOM"/>
      <xs:element type="IPv4AddressType" name="IP"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="IDENTIFIANT" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BDD_Cfg_ReseauType">
    <xs:sequence>
      <xs:element type="PLAGEType" name="PLAGE" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="EQUIPType" name="EQUIP" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>