stromboli_lib/xsd/Cfg_Flux_IP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BDD_Cfg_FluxIP" type="BDD_Cfg_FluxIPType">
    <xs:annotation>
      <xs:documentation>- Proposition descriptif reseau STROMBOLI pour Mesures Système - objectif du fichier : decrire les les flux des trames IP   2019/06/19 : mise à jour pour traiter les differents flux entre 2 IP identiques (ajout Port + difference traitement modbus pour ordre et commandes)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PROTOCOLType">
    <xs:sequence>
      <xs:element type="xs:string" name="Type"/>
      <xs:element type="xs:string" name="Adresse"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FLUXType">
    <xs:sequence>
      <xs:element type="xs:string" name="NOM"/>
      <xs:element type="xs:unsignedShort" name="PORT"/>
      <xs:element type="PROTOCOLType" name="PROTOCOL"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="IDENTIFIANT"/>
    <xs:attribute type="xs:string" name="IP_Emetteur"/>
    <xs:attribute type="xs:string" name="IP_Dest"/>
    <xs:attribute type="xs:string" name="DATA_FORMAT"/>
  </xs:complexType>
  <xs:complexType name="BDD_Cfg_FluxIPType">
    <xs:sequence>
      <xs:element type="FLUXType" name="FLUX"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>