stromboli_lib/xsd/Trace_Sortie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BDD_OUTPUT_DATA" type="BDD_OUTPUT_DATAType">
    <xs:annotation>
      <xs:documentation>- Proposition descriptif données en sortie d'analyse des trames IP STROMBOLI pour Mesures Système - objectif du fichier : générer un fichier BDD pour recherche des performances via des requetes type XPATH ou equivalent  - Contraintes du fichier : Supprimer les IP des données pour pouvoir être exploitables sur site DGA sans compromettre les données CD   2019/06/07: ajout référence point de mesure &lt;POINT_TST> et &lt;CFG_POINT_MESURE> + mofi VALUE_SYS = VALUE_RAW si aucun traitement prévu</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EXIGENCESType">
    <xs:sequence>
      <xs:element type="xs:string" name="ID_EXI" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LOGICIELType">
    <xs:sequence>
      <xs:element type="xs:string" name="SSG"/>
      <xs:element type="xs:string" name="SST"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MATERIELType">
    <xs:sequence>
      <xs:element type="xs:string" name="SSG"/>
      <xs:element type="xs:string" name="SST"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CONFIGURATIONType">
    <xs:sequence>
      <xs:element type="LOGICIELType" name="LOGICIEL"/>
      <xs:element type="MATERIELType" name="MATERIEL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TEST_REFType">
    <xs:sequence>
      <xs:element type="xs:string" name="TEST_ID"/>
      <xs:element type="xs:string" name="ORIGINE"/>
      <xs:element type="xs:string" name="TITRE">
        <xs:annotation>
          <xs:documentation>recopie des données du fichier configuration test</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="REFERENCE_PROCEDURE"/>
      <xs:element type="xs:string" name="VERSION_PROCEDURE"/>
      <xs:element type="xs:string" name="SECTION_PROCEDURE"/>
      <xs:element type="EXIGENCESType" name="EXIGENCES"/>
      <xs:element type="CONFIGURATIONType" name="CONFIGURATION"/>
      <xs:element type="xs:date" name="DATE"/>
      <xs:element type="xs:time" name="HEURE"/>
      <xs:element type="xs:string" name="LIEU"/>
      <xs:element type="xs:string" name="OPERATEUR"/>
      <xs:element type="xs:string" name="COMMENT"/>
      <xs:element type="xs:string" name="VALIDITE"/>
      <xs:element type="xs:string" name="SAUVEGARDE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FILESType">
    <xs:sequence>
      <xs:element type="xs:string" name="CFG_IP"/>
      <xs:element type="xs:string" name="CFG_FLUX"/>
      <xs:element type="xs:string" name="CFG_DATA"/>
      <xs:element type="xs:string" name="CFG_DATA_VAL"/>
      <xs:element type="xs:string" name="CFG_TEST"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TOOL_CFGType">
    <xs:sequence>
      <xs:element type="xs:string" name="IDENT"/>
      <xs:element type="xs:string" name="VERSION"/>
      <xs:element type="FILESType" name="FILES"/>
      <xs:element type="xs:date" name="DATE"/>
      <xs:element type="xs:time" name="HEURE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IP_PROTOCOLType">
    <xs:sequence>
      <xs:element type="xs:string" name="FLAGS"/>
      <xs:element type="xs:string" name="Header_CHECKSUM"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TRANSMISSION_PROTOCOLType">
    <xs:sequence>
      <xs:element type="xs:unsignedLong" name="SEQ_NUMBER"/>
      <xs:element type="xs:string" name="ACK_RTT"/>
      <xs:element type="xs:string" name="FLAGS"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DATAType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="DATA_ID"/>
      <xs:element type="xs:string" name="REF"/>
      <xs:element type="xs:unsignedByte" name="RANG"/>
      <xs:element name="TYPE">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UINT16"/>
            <xs:enumeration value="BIT"/>
            <xs:enumeration value="HM"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="INFO"/>
      <xs:element type="xs:string" name="Define"/>
      <xs:element type="xs:string" name="VALUE_RAW"/>
      <xs:element type="xs:string" name="VALUE_SYS"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DATA_SETType">
    <xs:sequence>
      <xs:element type="xs:string" name="DATA_FORMAT" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Recopie des données utiles en respectant le format définit dans cfg_data et cfg_data_val (en données brutes et en interprété (statuts, etc...))</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="REF_PARSE_DATA" minOccurs="0"/>
      <xs:element type="xs:string" name="RAW"/>
      <xs:element type="DATAType" name="DATA" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Recopie des données utiles en respectant le format définit dans cfg_data et cfg_data_val (en données brutes et en interprété (statuts, etc...))</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FRAMEType">
    <xs:sequence>
      <xs:element name="IDENTIFIANT">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SNBISUGO1_SNBISMOD1_Mod_P"/>
            <xs:enumeration value="SNBISMOD1_Mod_P_SNBISUGO1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NOM">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="UGO 1 BIS vers MOD 1 BIS"/>
            <xs:enumeration value="MOD 1 BIS vers UGO 1 BIS"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SOURCE">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SNBISUGO1_CPU_P"/>
            <xs:enumeration value="SNBISMOD1_Mod"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DESTINATION">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="SNBISMOD1_Mod"/>
            <xs:enumeration value="SNBISUGO1_CPU_P"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="TIMESTAMP"/>
      <xs:element type="xs:string" name="RAW"/>
      <xs:element name="TYPE">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="QUERY"/>
            <xs:enumeration value="RESPONSE"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FRAME_NUMBER">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="76"/>
            <xs:enumeration value="234"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="FRAME_PROTOCOL"/>
      <xs:element type="IP_PROTOCOLType" name="IP_PROTOCOL"/>
      <xs:element type="TRANSMISSION_PROTOCOLType" name="TRANSMISSION_PROTOCOL"/>
      <xs:element type="DATA_SETType" name="DATA_SET"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OUTPUTType">
    <xs:sequence>
      <xs:element type="TEST_REFType" name="TEST_REF"/>
      <xs:element type="TOOL_CFGType" name="TOOL_CFG"/>
      <xs:element type="FRAMEType" name="FRAME" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BDD_OUTPUT_DATAType">
    <xs:sequence>
      <xs:element type="OUTPUTType" name="OUTPUT"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>